In [5]:
import kagglehub
import os 
import pandas as pd

# Download latest version
path = kagglehub.dataset_download("adilshamim8/economic-indicators-and-inflation")

# read data
df = pd.read_csv(os.path.join(path, "Economic Indicators And Inflation.csv"))
df.head()

,Country,Year,GDP (in billion USD),Inflation Rate (%),Unemployment Rate (%),Economic Growth (%)
0,USA,2010,15000.0,1.64,9.63,2.55
1,USA,2011,15500.0,3.16,8.94,1.53
2,USA,2012,16000.0,2.07,8.10,2.28
3,USA,2013,16500.0,1.50,7.70,1.84
4,USA,2014,17000.0,1.62,7.25,2.53